@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

* {
    font-family: "Noto Serif", serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

button:not(#blog-btn) {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

#blog-btn,
#home-btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white !important;
    background-color: #ff1f3d !important;
    font-size: 1rem;
    cursor: pointer;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2% 0;
    margin-bottom: 20px;
}

.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.course-thumbnail {
    width: 20rem;
    height: 15rem;
}

.course-info {
    display: flex;
    gap: 20px;
}

.author-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 15px;
}

.author-info {
    color: gray;
}

.author-name {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -20px;
}

.verified {
    color: white;
    font-weight: 800;
    background-color: #2b91f7;
    border-radius: 50%;
    padding: 0 5px;
}

.views {
    margin-top: -10px;
}

.posted-date {
    background-color: #171717;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    position: absolute;
    margin-top: 210px;
    margin-left: 5px;
}

.not-available {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.blog-container {
    margin: auto;
    width: 80%;
    padding: 2%;
}

.blog-post {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-title {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}